*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-color:#0a000a;
}

/* main grid of website  */
.grid-container{
    background-image: url(images/bg-max.png);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    
    
}



.main-grid1{
    
    grid-column: 1/3;
    height: 4rem;
    z-index: 1; 
    padding: 1.5rem 0;
    align-content: center;
    /* background-color: #1b062d; */
    background: rgb(20,2,27);
    background: linear-gradient(180deg, rgba(20,2,27,1) 0%, rgba(35,5,47,1) 100%);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);
}


.main-grid4{
    grid-column: 1/3;
}

/* --------------------------------------------------------------------------------------------- */

/* top navbar  */

.nav{
    width: 95%;
    margin: auto;
    height: 3rem;
}

.nav-bar{
   display: flex;
   flex-direction: row;
   align-content: center;
}

.side-nav {
    display: none;
    width: 10%;
    padding: 0 .5rem;
}
.side-nav p{
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.logo{
    width: 20%;
}
.logo h2 {
    font-size: 1.3rem;
    color: white;
    transition: all 0.3s ease-out;

}
.logo h2:hover{color: #e81472}
.nav-link-con{
    min-width: 70%;
}

.nav-links{
    display:flex;
    flex-direction: row;
    float: right;
}

.nav-links li{
    list-style: none;
    margin:0 1.5rem;
}
.nav-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: .875rem;
    padding: .75rem;
    padding-bottom: 1.1rem;
    color: white;
    transition: all 0.3s ease-out;
    
}

.nav-links a:hover{
    color: #e81472;
    border-bottom: 2px solid #e81472;
}



.admin-link{
    width: 10%;
    justify-self: right;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    
    
}

.admin-link a{
    float: right;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-out;
    padding: .2rem 0;
    padding-bottom: 1.1rem;
}

.admin-link a:hover{
    color:  #e81472;
    border-bottom: 2px solid #e81472;
}

/* --------------------------------------------------------------------------------------------- */



.main-grid3{
    justify-self: center;
   
}

.about-con{
    position: absolute;
    top: 25%;
    width: 40%;
}


.about-heading{
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-left: 6%;
    color: white;
}

.about-sec{
    margin-top: 1.5rem;
    background-color: #1c0325e5;
    width: 100%;
    height: 16rem;
    padding: 2rem;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);

}


.about-info{
    line-height: 1.5rem;
    color: white;
    margin-left: 2%;
    font-size: .9rem;
}


.video-sec video{
    position: absolute;
    top: 25%;
    right: 8%;
    -webkit-box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.5);
   
}






.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #b33694;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .m-nav{ 
      position: absolute;
      top: 5rem;
      width: 100%;
      margin: auto;
        }

  .m-link{
    text-align: center;
    text-decoration: none;
    font-weight:500;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    color: #371d5a;
    display: block;
    transition: 0.3s;
  }

  
  
  .m-nav a:hover{color: #f1f1f1;}
  .sidenav a:hover {color: #f1f1f1;}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #371d5a;
    
  }



  /* --------------------------------------------------------------------------------------------- */
/* -----------media qurey----------- */

  @media (max-width: 1399.98px) {
    .video-sec video{
        top: 30%;
        right:5% ;
        width: 50%;
        height: auto;
    }
    .about-heading{
        margin-bottom: 5%;
        font-size: 5rem;
    }
    .about-sec{height: 17rem;}
   

@media (max-width: 1199.98px) {
    .video-sec video{
        width: 55%;
        height: auto;
        right: 3%;
        
    }
    .about-heading{font-size: 6rem;}
    .about-sec{padding: 1.5rem; height: 17rem;}
    .about-info{margin-left: 0;}
    

 }

@media (max-width: 991.98px){

   .sidenav {padding-top: 15px;}
   
    body{
        background-color:#100320 ;
    }
    .side-nav {
        display: block;
        width: 10%;
        padding: 0 .5rem;
    }

    .grid-container{
        grid-template-columns: 100%;}

    .main-grid2{
         grid-column: 1/3;
         padding-top: 50px;
        
    }  
    .main-grid3{
        grid-column: 1/3;
    }     


    
    .nav-link-con{
        display: none;  
    }

    .logo{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .admin-link{
        width: 10%;}

    .about-con{
    position: unset;
    margin: auto;
    width: 100%;
    text-align: center;
    
}

    .video-sec{
    width: 100%;
}
    .video-sec video{
    
    width: 80%;
    margin: 10%;
    position: unset;
    
   
    }

    .about-heading{
        font-size: 6rem;
        font-weight: 100;
        margin-bottom: 1rem;
        margin-left: 6%;
        color: white;
    }
    
    .about-sec{
        margin-top: 1.5rem;
        width: 100%;
        height: 50%;
        padding: 2rem;
    
    }
    
    .about-info{
        line-height: 1.5rem;
        color: white;
        width: 80%;
        margin: auto;
    }
    .m-link{
        
        text-decoration: none;
        font-weight:500;
        padding: .8rem .5rem;
        font-size: 1.5rem;
        color: #371d5a;
        display: block;
        transition: 0.3s;
      }


    
}

@media (max-width: 667px) { 

    
    .video-sec video{
    
        width: 80%;
        margin: 10%;
        position: unset;
        
       
        }
}