*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
  }
  
  body {
    background-color:#100320 ;
  }
  
  /* main grid of website  */
  .grid-container{
    background-image: url(images/bg-max.jpg);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    
    
  }
  
  
  
  .main-grid1{
    
    grid-column: 1/3;
    height: 4rem;
    z-index: 1; 
    padding: 1.5rem 0;
    align-content: center;
    /* background-color: #1b062d; */
    background: rgb(20,2,27);
    background: linear-gradient(180deg, rgba(20,2,27,1) 0%, rgba(35,5,47,1) 100%);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);
  }
  
  
  .main-grid4{
    grid-column: 1/3;
  }
  
  /* --------------------------------------------------------------------------------------------- */
  
  /* top navbar  */
  
  .nav{
    width: 95%;
    margin: auto;
    height: 3rem;
  }
  
  .nav-bar{
   display: flex;
   flex-direction: row;
   align-content: center;
  }
  
  .side-nav {
    display: none;
    width: 10%;
    padding: 0 .5rem;
  }
  .side-nav p{
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .logo{
    width: 20%;
  }
  .logo h2 {
    font-size: 1.3rem;
    color: white;
    transition: all 0.3s ease-out;
  
  }
  .logo h2:hover{color: #e81472}
  .nav-link-con{
    min-width: 70%;
  }
  
  .nav-links{
    display:flex;
    flex-direction: row;
    float: right;
  }
  
  .nav-links li{
    list-style: none;
    margin:0 1.5rem;
  }
  .nav-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: .875rem;
    padding: .75rem;
    padding-bottom: 1.1rem;
    color: white;
    transition: all 0.3s ease-out;
    
  }
  
  .nav-links a:hover{
    color: #e81472;
    border-bottom: 2px solid #e81472;
  }
  
  
  
  .admin-link{
    width: 10%;
    justify-self: right;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    
    
  }
  
  .admin-link a{
    float: right;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-out;
    padding: .2rem 0;
    padding-bottom: 1.1rem;
  }
  
  .admin-link a:hover{
    color:  #e81472;
    border-bottom: 2px solid #e81472;
  }



  .sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #b33694;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .m-nav{ 
      position: absolute;
      top: 5rem;
      width: 100%;
      margin: auto;
        }

  .m-link{
    text-align: center;
    text-decoration: none;
    font-weight:500;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    color: #371d5a;
    display: block;
    transition: 0.3s;
  }

  
  
  .m-nav a:hover{color: #f1f1f1;}
  .sidenav a:hover {color: #f1f1f1;}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #371d5a;
    
  }
  
  /* --------------------------------------------------------------------------------------------- */
  
  
  /* Addn login */
  
  
  .category-con{
    background-color:  #1c0325e5;
    width: 50%;
    margin: auto;
    padding: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);
    
  }

  .category-details{
    border-radius: 5px;
    width: 100%;
    margin: auto;
    padding: .8rem;
    height:200px ;
    
  }

  .cat-heading{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    }

    .cat-input::placeholder {color:white; font-size: 1rem; font-weight: 300;}
    .cat-input {
        
        color: rgb(206, 206, 206);
        font-size: 1rem; 
        font-weight: 300;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border:2px solid #663399;
        padding: .8rem;
        margin-bottom: 1rem;
        width:100%;
        outline:0;
      }
    
    .save-cancel-btn{
        width: 60%;
        margin: auto;
        text-align: center;
        margin-top: 1rem;
        
    }

    .save-cat, .cancel-cat {
        text-align: center;
        width: 25%;
        margin-left: .5rem;
        text-align: center;
        font-size: 1rem; 
        font-weight: 500;
        background: #663399;
        border:2px solid #663399;
        border-radius:5px;
        cursor:pointer;
        color:white;
        padding: .3rem 1rem;
        transition: all 0.3s ease-in-out;
        outline: none;
    }

    .save-cat:hover, .cancel-cat:hover{
        background:#e81472; 
        border:2px solid #e81472; 
    }
  
  .sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #b33694;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .m-nav{ 
      position: absolute;
      top: 5rem;
      width: 100%;
      margin: auto;
        }
  
  .m-link{
    text-align: center;
    text-decoration: none;
    font-weight:500;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    color: #371d5a;
    display: block;
    transition: 0.3s;
  }
  
  
  
  .m-nav a:hover{color: #f1f1f1;}
  .sidenav a:hover {color: #f1f1f1;}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #371d5a;
    
  }
  
  
   /* --------------------------------------------------------------------------------------------- */
  /* -----------media qurey----------- */
  
  @media (max-width: 1399.98px) {
    
    .category-con{
        width: 60%;
    }
    
   
  
  @media (max-width: 1199.98px) {
    .category-con{
        width: 70%;
    }

    .save-cat, .cancel-cat {
        
        width: 35%;
    
  }
  }
  
  
  @media (max-width: 991.98px){

    .save-cat, .cancel-cat {
        
        width: 39%;
    
  }
  
    .sidenav {padding-top: 15px;}
     
      
      .side-nav {
          display: block;
          width: 10%;
          padding: 0 .5rem;
      }
 
      
      .nav-link-con{
          display: none;  
      }
  
      .logo{
          width: 80%;
          margin: auto;
          text-align: center;
      }
  
      .admin-link{
          width: 10%;}
  
          .adminLogin{
            width: 60%;
        }
            
          
  }
  
  @media (max-width: 667px) { 
  
    .category-con{
        width: 80%;
    }
    .save-cancel-btn{
        width: 90%;}
        
    .save-cat, .cancel-cat {
        width: 35%;
  }

  }