*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
  }
  
  body {
    background-color:#100320 ;
  }
  
  /* main grid of website  */
  .grid-container{
    background-image: url(images/bg-max.jpg);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    
    
  }
  
  
  
  .main-grid1{
    
    grid-column: 1/3;
    height: 4rem;
    z-index: 1; 
    padding: 1.5rem 0;
    align-content: center;
    /* background-color: #1b062d; */
    background: rgb(20,2,27);
    background: linear-gradient(180deg, rgba(20,2,27,1) 0%, rgba(35,5,47,1) 100%);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);
  }
  
  
  .main-grid4{
    grid-column: 1/3;
  }
  
  /* --------------------------------------------------------------------------------------------- */
  
  /* top navbar  */
  
  .nav{
    width: 95%;
    margin: auto;
    height: 3rem;
  }
  
  .nav-bar{
   display: flex;
   flex-direction: row;
   align-content: center;
  }
  
  .side-nav {
    display: none;
    width: 10%;
    padding: 0 .5rem;
  }
  .side-nav p{
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .logo{
    width: 20%;
  }
  .logo h2 {
    font-size: 1.3rem;
    color: white;
    transition: all 0.3s ease-out;
  
  }
  .logo h2:hover{color: #e81472}
  .nav-link-con{
    min-width: 70%;
  }
  
  .nav-links{
    display:flex;
    flex-direction: row;
    float: right;
  }
  
  .nav-links li{
    list-style: none;
    margin:0 1.5rem;
  }
  .nav-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: .875rem;
    padding: .75rem;
    padding-bottom: 1.1rem;
    color: white;
    transition: all 0.3s ease-out;
    
  }
  
  .nav-links a:hover{
    color: #e81472;
    border-bottom: 2px solid #e81472;
  }
  
  
  
  .admin-link{
    width: 10%;
    justify-self: right;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    
    
  }
  
  .admin-link a{
    float: right;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-out;
    padding: .2rem 0;
    padding-bottom: 1.1rem;
  }
  
  .admin-link a:hover{
    color:  #e81472;
    border-bottom: 2px solid #e81472;
  }
  
  /* --------------------------------------------------------------------------------------------- */
  
  
  
  /* header style */
  .contact-con{
    position: absolute;
    top: 30%;
    width: 40%;
  }
  
  
  .contact-heading{
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-left: 6%;
    color: white;
  }
  
  .contact-info{
    margin-top: 1.5rem;
    background-color: #1c0325e5;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);
  
  }
  
  
  .contact-text{
    width: 90%;
    line-height: 1.5rem;
    color: white;
    margin-left: 2%;
  }
  /* --------------------------------------------------------------------------------------------- */
  /* Form Section */
  
  
  .contact-form{
    width: 60%;
    margin: auto;
    background-color:  #1c0325e5;
    padding: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);
  }
  
  .feedback-input::placeholder {color:white; font-size: 1rem; font-weight: 300;}
  
  .feedback-input {
    color: rgb(206, 206, 206);
    font-size: 1rem; 
    font-weight: 300;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #663399;
    padding: .8rem;
    margin-bottom: 1rem;
    width:100%;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #663399; }
  
  textarea {
    height: 150px;
    line-height: 1.2rem;
    resize:vertical;
  }
  
  [type="submit"] {
    width: 100%;
    font-size: 1.5rem; 
    font-weight: 300;
    background: #663399;
    border:2px solid #663399;
    border-radius:5px;
    cursor:pointer;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    
  }
  [type="submit"]:hover { background:#e81472; border:2px solid #e81472; }
    
  
  
  
  .sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #b33694;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .m-nav{ 
      position: absolute;
      top: 5rem;
      width: 100%;
      margin: auto;
        }
  
  .m-link{
    text-align: center;
    text-decoration: none;
    font-weight:500;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    color: #371d5a;
    display: block;
    transition: 0.3s;
  }
  
  
  
  .m-nav a:hover{color: #f1f1f1;}
  .sidenav a:hover {color: #f1f1f1;}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #371d5a;
    
  }
  
  
   /* --------------------------------------------------------------------------------------------- */
  /* -----------media qurey----------- */
  
  @media (max-width: 1399.98px) {
    .contact-form{
      width: 70%;
      margin: auto;
     
    
  }
  
  @media (max-width: 1199.98px) {
    .contact-form{
      width: 70%;
      margin: auto;
     margin-left: 20%;
    
  }
  
  .contact-heading{
    font-size: 5.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-left: 6%;
    color: white;
  }
  
  .contact-info{
    margin-top: 1.5rem;
    background-color: #1c0325e5;
    width: 100%;
    height: 12rem;
    padding: 2rem;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);
  
  }
  }
  
  
  @media (max-width: 991.98px){
  
    .sidenav {padding-top: 15px;}
     
      body{
          background-color:#1a011e ;
      }
      .side-nav {
          display: block;
          width: 10%;
          padding: 0 .5rem;
      }
  
      .grid-container{
          grid-template-columns: 100%;}
  
      .main-grid2{
           grid-column: 1/3;
           padding-top: 50px;
          
      }  
      .main-grid3{
          grid-column: 1/3;
      }     
  
  
      
      .nav-link-con{
          display: none;  
      }
  
      .logo{
          width: 80%;
          margin: auto;
          text-align: center;
      }
  
      .admin-link{
          width: 10%;}
  
          .contact-con{
            position: unset;
            margin: auto;
            width: 100%;
            text-align: center;
           
            
        }  
        
        .contact-info{
          margin-top: 1.5rem;
          background-color: #1c0325e5;
          width: 100%;
          height: 8rem;}
  
          .contact-text{
            width: 70%;
            line-height: 1.5rem;
            color: white;
            text-align: center;
            margin: auto;
          }
          
          .contact-form{
            width: 60%;
            padding: 1.5rem 2rem;
            margin-top: 3rem;
            margin-bottom: 20px;
          
            
          }
  }
  
  @media (max-width: 667px) { 
  
    .contact-info{
      padding: 1.5rem;
    }
    .contact-text{
      width: 90%;
      line-height: 1.5rem;
      color: white;
      text-align: center;
      margin: auto;
    }
  
    .contact-form{
      width: 80%;
      padding: 1.5rem 2rem;
      margin-top: 3rem;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
  }