*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-color:#100320 ;
}

/* main grid of website  */
.grid-container{
    background-image: url(images/bg-max.jpg);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    
    
}



.main-grid1{
    
    grid-column: 1/3;
    height: 4rem;
    z-index: 1; 
    padding: 1.5rem 0;
    align-content: center;
    /* background-color: #1b062d; */
    background: rgb(20,2,27);
    background: linear-gradient(180deg, rgba(20,2,27,1) 0%, rgba(35,5,47,1) 100%);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);
}


.main-grid4{
    grid-column: 1/3;
}

/* --------------------------------------------------------------------------------------------- */

/* top navbar  */

.nav{
    width: 95%;
    margin: auto;
    height: 3rem;
}

.nav-bar{
   display: flex;
   flex-direction: row;
   align-content: center;
}

.side-nav {
    display: none;
    width: 10%;
    padding: 0 .5rem;
}
.side-nav p{
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.logo{
    width: 20%;
}
.logo h2 {
    font-size: 1.3rem;
    color: white;
    transition: all 0.3s ease-out;

}
.logo h2:hover{color: #e81472}
.nav-link-con{
    min-width: 70%;
}

.nav-links{
    display:flex;
    flex-direction: row;
    float: right;
}

.nav-links li{
    list-style: none;
    margin:0 1.5rem;
}
.nav-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: .875rem;
    padding: .75rem;
    padding-bottom: 1.1rem;
    color: white;
    transition: all 0.3s ease-out;
    
}

.nav-links a:hover{
    color: #e81472;
    border-bottom: 2px solid #e81472;
}



.admin-link{
    width: 10%;
    justify-self: right;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    
    
}

.admin-link a{
    float: right;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-out;
    padding: .2rem 0;
    padding-bottom: 1.1rem;
}

.admin-link a:hover{
    color:  #e81472;
    border-bottom: 2px solid #e81472;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #b33694;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .m-nav{ 
      position: absolute;
      top: 5rem;
      width: 100%;
      margin: auto;
        }

  .m-link{
    text-align: center;
    text-decoration: none;
    font-weight:500;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    color: #371d5a;
    display: block;
    transition: 0.3s;
  }

  
  
  .m-nav a:hover{color: #f1f1f1;}
  .sidenav a:hover {color: #f1f1f1;}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #371d5a;
    
  }

  /* --------------------------------------------------------------------------------------------- */
  .section {margin: auto;}
   .img-con{
       width: 100%;
        margin: auto;
       position: relative;
       display: inline-block;
   }
    .img-con img{
        display: block;
        margin:auto;
        width: 70%;
        margin-top:-4%;
        
        
    }
    
  
  .welcome-screen{
      width: 50%;
    position: absolute;
    top: 20%;
    left: 26%;
    /* transform: translate( -5%, -5% ); */
    text-align: center;
    color: white;
  }

  .w-heading{
        font-size: 6rem;
        font-weight: 100;
        margin-top: 5px;
        margin-bottom: 3rem;
        color: white;
    }

    .w-info-heading{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }

    .w-info-text{
        width: 80%;
        font-size: 1rem;
        margin: auto;
        line-height: 25px;
        margin-bottom: 50px;
    }

    .gallery-btn{
        background-color: #663399;
        text-decoration: none;
        margin-top: 10px;
        border: 1px solid #663399;
        border-radius: 6px;
        padding: .5rem 2rem;
        color: white;
        transition: all 0.3s ease-out;
    }

    .gallery-btn:hover{
        background-color:#e81472 ;
        border: 1px solid #e81472;
        border: none;
        
    }

 
    @media (max-width: 1399.98px) {
        .img-con{
            width: 100%;
             margin: auto;
            position: relative;
            display: inline-block;
        }
         .img-con img{
             display: block;
             margin:auto;
             width: 85%;
             margin-top:-3%;
             
             
         }
         
       
       .welcome-screen{
           width: 50%;
         position: absolute;
         top: 25%;
         left: 25%;
         /* transform: translate( -5%, -5% ); */
         text-align: center;
         color: white;
       }
     
       .w-heading{
             font-size: 5rem;
             font-weight: 100;
             margin-top: 5px;
             margin-bottom: 3rem;
             color: white;
         }
     
         .w-info-heading{
             font-size: 2rem;
             font-weight: 500;
             margin-bottom: 1.2rem;
         }
     
         .w-info-text{
             width: 80%;
             font-size: 1rem;
             margin: auto;
             line-height: 25px;
             margin-bottom: 50px;
         }
     
    }

     @media (max-width: 1199.98px) {
        .img-con{
            width: 100%;
             margin: auto;
            position: relative;
            display: inline-block;
        }
         .img-con img{
             display: block;
             margin:auto;
             width: 93%;
             margin-top:-3%;
             
         }
         
       
       .welcome-screen{
           width: 60%;
         position: absolute;
         top: 25%;
         left: 22%;
         /* transform: translate( -5%, -5% ); */
         text-align: center;
         color: white;
       }
     
       .w-heading{
             font-size: 5rem;
             font-weight: 100;
             margin-top: 5px;
             margin-bottom: 1.5rem;
             color: white;
         }
     
         .w-info-heading{
             font-size: 1.5rem;
             font-weight: 500;
             margin-bottom: 1.2rem;
         }
     
         .w-info-text{
             width: 80%;
             font-size: 1rem;
             margin: auto;
             line-height: 25px;
             margin-bottom: 40px;
         }
      
    }

    @media (max-width: 991.98px){

        .sidenav {padding-top: 15px;}
        
         body{
             background-color:#100320 ;
         }
         .side-nav {
             display: block;
             width: 10%;
             padding: 0 .5rem;
         }
     
         .grid-container{
             grid-template-columns: 100%;}
     
         .main-grid2{
              grid-column: 1/3;
              padding-top: 50px;
             
         }  
         .main-grid3{
             grid-column: 1/3;
         }     
     
     
         
         .nav-link-con{
             display: none;  
         }
     
         .logo{
             width: 80%;
             margin: auto;
             text-align: center;
         }
     
         .admin-link{
             width: 10%;}


             .img-con{
                width: 100%;
                 margin: auto;
                position: relative;
                display: inline-block;
            }
             .img-con img{
                 display: block;
                 margin:auto;
                 width: 100%;
                 margin-top:-3%;
                 margin-left: 20px;
                 
             }
             
           
           .welcome-screen{
               width: 80%;
             position: absolute;
             top: 25%;
             left: 12%;
             /* transform: translate( -5%, -5% ); */
             text-align: center;
             color: white;
           }
         
           .w-heading{
                 font-size: 4rem;
                 font-weight: 100;
                 margin-top: 5px;
                 margin-bottom: 1.5rem;
                 color: white;
             }
         
             .w-info-heading{
                 font-size: 1.5rem;
                 font-weight: 500;
                 margin-bottom: 1.2rem;
             }
         
             .w-info-text{
                 width: 80%;
                 font-size: 1rem;
                 margin: auto;
                 line-height: 25px;
                 margin-bottom: 40px;
             }
              

 }
 @media (max-width: 800px){
    .img-con{
        width: 100%;
         margin: auto;
        position: relative;
        display: inline-block;
    }
     .img-con img{
         display: block;
         margin:auto;
         width: 90%;
         margin-top:-12%;
         margin-left: 3%;
         
     }
     
   
   .welcome-screen{
       width: 75%;
     position: absolute;
     top: 20%;
     left: 12%;
     /* transform: translate( -5%, -5% ); */
     text-align: center;
     color: white;
   }
 
   .w-heading{
         font-size: 4.5rem;
         font-weight: 100;
         margin-top: 5px;
         margin-bottom: 2.5rem;
         color: white;
     }
 
     .w-info-heading{
         font-size: 1.5rem;
         font-weight: 500;
         margin-bottom: 1.5rem;
     }
 
     .w-info-text{
         width: 75%;
         font-size: 1rem;
         margin: auto;
         line-height: 25px;
         margin-bottom: 50px;
     }
 }

 
 @media (max-width: 600px){
    .img-con{
        width: 100%;
         margin: auto;
        position: relative;
        display: inline-block;
    }
     .img-con img{
         display: block;
         margin:auto;
         width: 100%;
         margin-top:-15%;
         margin-left: 0%;
         
     }
     
   
   .welcome-screen{
       width: 75%;
     position: absolute;
     top: 20%;
     left: 13%;
     /* transform: translate( -5%, -5% ); */
     text-align: center;
     color: white;
   }
 
   .w-heading{
         font-size: 4rem;
         font-weight: 100;
         margin-top: 5px;
         margin-bottom: 1.5rem;
         color: white;
     }
 
     .w-info-heading{
         font-size: 1.2rem;
         font-weight: 500;
         margin-bottom: 1rem;
     }
 
     .w-info-text{
         width: 75%;
         font-size: .8rem;
         margin: auto;
         line-height: 25px;
         margin-bottom: 30px;
     }

 }


                    